
:root{   
    --fondo: #F3F5FC;
    --secundario: #0A3871;  

    --blanco: #ffffff;
    --oscuro: #343A40;
    --gris: #D8DFE8;
}


.contenedor{
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    gap: 20%;
}

.principal_escritura_input{
    background-color: var(--fondo);
    padding: 2% 2% 50% 2%;
    border: none;
    color: var(--secundario);
    font-weight: 600;
    font-size: 1rem;
}

.principal_botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 10px; 
    margin-top: 15%;
}

.principal_botones_posicion{
    text-align: center;
}

.principal_botones_posicion:nth-child(1){
    grid-column: 1/3;
}

#boton_encriptar{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 15px;
    border-radius: 20px;
    border-color: var(--oscuro);
    border-width: 1.5px;
}

#boton_desencriptar{
    background-color: var(--gris);
    padding: 15px;
    border-radius: 20px;
    border-color: var(--secundario);
    border-width: 1.5px;
}

h5{
    font-size: 1rem;
    color: var(--gris);
    font-weight: 800;
}

/*-------------------------------------*/

.resultado_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--blanco);
    padding: 25% 0% 65% 0%;
    width: auto;
    min-width: 300px;
    max-width: 500px;
    border-width: 1px;
    border-color: var(--secundario);
    border-style: solid; 
    border-radius: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resultado_contenedor_imagen{
    max-width: 50%;
    width: auto;
    margin-bottom: 95px;
}

.resultado_contenedor_texto{
    width: auto;
    text-align: center;
    max-width: 70%;
}

#resultado_texto{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--oscuro);
}

#resultado_info{
    font-weight: 400;
    font-size: 1rem;
    color: var(--gris);
}

.mi-boton-estilizado {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 15px;
    border-radius: 20px;
    border-color: var(--oscuro);
    border-width: 1.5px;
  }
  
  .mi-boton-estilizado:hover {
    background-color: var(--gris);
  }
  
  @media (max-width: 900px) {
    
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .principal_botones{
        margin: 0px 0px 20px 0px;
    }
    .resultado_contenedor{
        padding: 0px;
    }
    .resultado_contenedor_imagen{
        margin: 0px;
    }
  }






  /* ----------- PORTAPAPELES ---------------*/
  .toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0px 0px 10px 0px #000;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .toast.show {
    visibility: visible;
    opacity: 1;
  }
  